
.grid-container{
    display: grid;
    margin: 20px auto;
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header'
    'form'
    'list';
}
header{
    grid-area: header;
    color: white;
    font-family: "Freestyle Script";
    font-size: 50px;
    text-align: center;
}

.btn-register{

    margin: 10px;
    padding: 10px;
    background-color: #3b2572;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn-register-list{
margin-left: 50px;
    padding: 5px;
    background-color: #3b2572;
    color: white;
    border: none;
    outline: none;
    border-radius: 100px;
}
.btn-register-list:hover{
    background-color: #E14705;
}

.btn-register:hover{
    background-color: #E14705;
}
.form-register{
    grid-area: form;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;

}
input{
    padding: 10px;
    background-color: whitesmoke;
    border: 1px dimgrey;
    border-radius: 10px;
    text-align: center;
}

body{
    background: #8999b0 ;
}


ul{
    grid-area: list;
    list-style-type: none;
background-color: white;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
}

li{
    margin: 5px;
}

@media screen and (min-width: 1025px) {


    header{
font-size: 100px;
    }


    .btn-register {
        margin: 20px;
        padding: 80px;
    }


  input{
      margin-top: 25px;
  }

ul{
    padding-bottom: 30px;
}

}